<div>
Welcome to pt-pascal world.
</div>
<div>
<p>Number : <input type="text" ng-model="pnumber"><button ng-click="printpascal();">Print Pascal</button></p>


<div ng-bind-html="pascal"></div>
</div>